@model SchoolManagement.Domain.Entities.Student

@{
	ViewData["Title"] = "Add Student";
}

<h2>Add Student</h2>

<form asp-action="Add">
	<partial name="_Form" model="Model" />
	<div class="mt-2">
		<button type="submit" class="btn btn-success">Save</button>
		<a asp-action="Index" class="btn btn-secondary">Cancel</a>
	</div>
</form>



